exportPattern("^[[:alpha:]]+")
S3method(print,criterionRkh)
S3method(print,edr)
S3method(print,edrSelec)
S3method(summary,criterionRkh)
S3method(summary,edr)
S3method(summary,edrSelec)
S3method(plot,criterionRkh)
S3method(plot,edr)
S3method(plot,edrSelec)
import(rgl)
import(mvtnorm)
import(MASS)
import(lasso2)
importFrom("grDevices", "dev.new")
importFrom("graphics", "axis", "boxplot", "lines", "pairs",
             "panel.smooth", "par", "plot", "text")
importFrom("stats", "coef", "cor", "fitted", "ksmooth", "loess",
             "pchisq", "predict", "princomp", "var")
useDynLib(edrGraphicalTools,.registration=TRUE)
